V = 0
V0 = $(V:0=)
Q1 = $(V:1=)
Q = $(Q1:0=@)
ECHO1 = $(V:1=@:)
ECHO = $(ECHO1:0=@echo)

<%
srcdir = miniruby = script_args = thread_model = nil
nmake = false
with_exts = []
without_exts = []
opt = OptionParser.new do |o|
  o.on('--srcdir=SRCDIR') {|v| srcdir = v}
  o.on('--miniruby=MINIRUBY') {|v| miniruby = v}
  o.on('--script-args=MINIRUBY') {|v| script_args = v}
  o.on('--thread-model=MODEL') {|v| thread_model = v}
  o.on('--gnumake=BOOL') {|v| nmake = v != "yes"}
  o.on('--with-ext=ext[,...]', Array) {|v| with_exts.concat(v)}
  o.on('--without-ext=ext[,...]', Array) {|v| without_exts.concat(v)}
  o.order!(ARGV)
end
srcdir ||= File.dirname(File.dirname(__FILE__))
script_args ||= ""

filter = proc do |ext|
  next false unless with_exts.empty? or !with_exts.any? {|w| File.fnmatch?(w, ext)}
  without_exts.empty? or !without_exts.any? {|w| File.fnmatch?(w, ext)}
end
exts = {
  exts: [
    "--extstatic $(EXTSTATIC)",
    Dir.glob("ext/**/extconf.rb", base: srcdir).filter_map do |d|
      d if filter[File.basename(d = d[%r[\Aext/[^/]+]])]
    end.uniq
  ],
  gems: [
    "--no-extstatic",
    Dir.glob(".bundle/gems/**/extconf.rb", base: srcdir).grep_v(/test/).filter_map do |d|
      d if filter[File.basename(d = d[%r[\A\.bundle/gems/[^/]+]])]
    end.uniq
  ],
}
%>
MINIRUBY = <%=miniruby%>
THREAD_MODEL = <%=thread_model%>
SCRIPT_ARGS = <%=script_args.gsub("#", "\\#").gsub(/\A|[\s"']\K--jobserver-auth=[^\s'"]*/, "")%>
EXTMK_ARGS = $(SCRIPT_ARGS) --gnumake=$(gnumake) --extflags="$(EXTLDFLAGS)" \
	   --make-flags="MINIRUBY='$(MINIRUBY)'" \
<% unless with_exts.empty? -%>
	   --with-ext=<%= with_exts.join(',') %> \
<% end -%>
<% unless without_exts.empty? -%>
	   --without-ext=<%= without_exts.join(',') %> \
<% end -%>
	# EXTMK_ARGS

all: exts gems
exts: dependencies
gems:

dependencies:
	$(Q)$(MINIRUBY) $(srcdir)/tool/mkdepend.rb --root=$(srcdir) \
		--scope=extensions --thread-model=$(THREAD_MODEL)<%= " --nmake" if nmake %> --output=.deps

% exts.each do |t, (o, dirs)|
%   dirs.each do |d|
<%=t%>: <%=d%>/exts.mk
<%=d%>/exts.mk: dependencies FORCE
	$(Q)$(MINIRUBY) $(srcdir)/ext/extmk.rb --make='$(MAKE)' \
		--command-output=$@ $(EXTMK_ARGS) <%=o%> \
		-- configure $(@D)
%   end
% end

.PHONY: FORCE all dependencies exts gems
FORCE:
