
<?xml version='1.0' encoding='SHIFT_JIS'?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"><!--
  $Id$
  diary index
  --><html xml:lang='ja' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
	<meta content='text/html;charset=Shift_JIS' http-equiv='Content-Type'/>
	<meta content='text/css' http-equiv='Content-Style-Type'/>
	<meta content='text/javascript' http-equiv='Content-Script-Type'/>

	<link href='./contents.css' rel='stylesheet' type='text/css'/>

	<title>YARV: Yet another RubyVM / Instruction Table</title>

	<link href='mailto:ko1 at atdot.net' rev='made'/>
	<link href='../index.html' rel='index'/>
</head>
    <body>
	<h1>YARV: Instruction Table</h1>
<table border='1' cellspacing='1' align='center'>
  <tr>
    <th>type</th>
    <th>Index</th>
    <th>Instruction</th>
    <th>Operands</th>
    <th colspan='3'>Stacks</th>
  </tr>
  <%= tbl %>
</table>

<address>
  SASADA Koichi / ko1 at atdot.net
</address>
</div>
  </body>
</html>



