<% comment = if current.respond_to? :comment_location then
               current.comment_location
             else
               current.comment
             end
   table = current.parse(comment).table_of_contents

   if table.length > 1 then %>
<div class="nav-section">
  <h3>Table of Contents</h3>

  <ul class="link-list" role="directory">
<%   table.each do |heading| %>
    <li><a href="#<%= heading.label current %>"><%= heading.plain_html %></a>
<%   end %>
  </ul>
</div>
<% end %>
