# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Code owners will be automatically tagged as reviewers when a pull request is opened

# YJIT sources and tests
yjit* @ruby/yjit
yjit/* @ruby/yjit
doc/yjit/* @ruby/yjit
bootstraptest/test_yjit* @ruby/yjit
test/ruby/test_yjit* @ruby/yjit
.github/workflows/yjit* @ruby/yjit
