root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
tab_width = 8
indent_style = tab
indent_size = 4

[**.bat]
end_of_line = crlf

[**.rb]
indent_style = space
indent_size = 2

[*.yml]
indent_size = 2
indent_style = space
