*-*-*.def
*-*-*.exp
*-*-*.lib
*.a
*.bak
*.dSYM
*.dmyh
*.dylib
*.elc
*.inc
*.log
*.o
*.obj
*.orig
*.pdb
*.rej
*.sav
*.swp
*.yarb
*~
.*-*
.*.list
.*.time
.DS_Store
.ccmalloc
.ext
.pc
.ppack
.svn
Makefile
Makefile.old
cygruby*.def
extconf.h
y.output
y.tab.c

# /
/*-fake.rb
/*.dll
/*.exe
/*.res
/*.pc
/*.rc
/*_prelude.c
/COPYING.LIB
/ChangeLog-*
/ChangeLog.pre-alpha
/ChangeLog.pre1_1
/Doxyfile
/GNUmakefile
/GNUmakefile.old
/README.atheos
/README.fat-patch
/README.v6
/TAGS
/archive
/autom4te*.cache
/automake
/beos
/bmlog-*
/breakpoints.gdb
/config.cache
/config.h
/config.h.in
/config.status
/config.status.lineno
/configure
/coverage/simplecov
/coverage/simplecov-html
/coverage/doclie
/coverage/.last_run.json
/coverage/.resultset.json*
/coverage/assets
/coverage/index.html
/doc/capi
/enc.mk
/encdb.h
/exts.mk
/goruby
/id.[ch]
/largefile.h
/lex.c
/libruby*.*
/miniprelude.c
/miniruby
/newdate.rb
/newline.c
/newver.rb
/parse.c
/parse.h
/patches
/patches-master
/pitest.rb
/ppack
/prelude.c
/preview
/probes.h
/rbconfig.rb
/rename2.h
/repack
/revision.h
/riscos
/rubicon
/ruby
/ruby-runner
/ruby-runner.c
/ruby-man.rd.gz
/sizes.c
/test.rb
/tmp
/transdb.h
/uncommon.mk
/verconf.h
/verconf.mk
/web
/yasmdata.rb

# /benchmark/
/benchmark/bmx_*.rb
/benchmark/fasta.output.*
/benchmark/wc.input

/enc/*.def
/enc/*.exp
/enc/*.lib
/enc/unicode/data

# /enc/trans/
/enc/trans/*.c
/enc/trans/*.def
/enc/trans/*.exp
/enc/trans/*.lib
/enc/trans/.time

# /ext/
/ext/extinit.c

# /ext/-test-/win32/dln/
/ext/-test-/win32/dln/dlntest.exp
/ext/-test-/win32/dln/dlntest.lib

# /ext/dl/callback/
/ext/dl/callback/callback-*.c
/ext/dl/callback/callback.c

# /ext/etc/
/ext/etc/constdefs.h

# /ext/fiddle/
/ext/fiddle/libffi-*

# /ext/rbconfig/
/ext/rbconfig/sizeof/sizes.c

# /ext/ripper/
/ext/ripper/eventids1.c
/ext/ripper/eventids2table.c
/ext/ripper/ripper.*
/ext/ripper/ids1
/ext/ripper/ids2

# /ext/socket/
/ext/socket/constants.h
/ext/socket/constdefs.h
/ext/socket/constdefs.c

# /ext/tk/
/ext/tk/config_list

# /gems
/gems/*.gem

# /spec/
/spec/mspec
/spec/rubyspec

# /tool/
/tool/config.guess
/tool/config.sub

# /win32/
/win32/*.ico
/win32/.time
