git[bot]                                <svn-admin@ruby-lang.org>
git[bot]                                <svn-admin@ruby-lang.org> git <svn@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>
svn[bot]                                <svn-admin@ruby-lang.org> svn <svn@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# a_matsuda
Akira Matsuda                           <ronnie@dio.jp>
Akira Matsuda                           <ronnie@dio.jp> <a_matsuda@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# aamine
Minero Aoki                             <aamine@loveruby.net>
Minero Aoki                             <aamine@loveruby.net> <aamine@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# akira
akira yamada                            <akira@ruby-lang.org>
## akira yamada                         <akira@ruby-lang.org> <akira@rice.p.arika.org>
akira yamada                            <akira@ruby-lang.org> <akira@arika.org>
akira yamada                            <akira@ruby-lang.org> <akira@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# akiyoshi
AKIYOSHI, Masamichi                     <masamichi.akiyoshi@hp.com>
AKIYOSHI, Masamichi                     <masamichi.akiyoshi@hp.com> <akiyoshi@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# akr
Tanaka Akira                            <akr@fsij.org>
Tanaka Akira                            <akr@fsij.org> <akr@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# arai
Koji Arai                               <jca02266@nifty.ne.jp>
Koji Arai                               <jca02266@nifty.ne.jp> <arai@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# arton
Akio Tajima                             <artonx@yahoo.co.jp>
Akio Tajima                             <artonx@yahoo.co.jp> <arton@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# aycabta
aycabta                                 <aycabta@gmail.com>
aycabta                                 <aycabta@gmail.com> <aycabta@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ayumin
Ayumu AIZAWA                            <ayumu.aizawa@gmail.com>
Ayumu AIZAWA                            <ayumu.aizawa@gmail.com> <ayumin@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# azav
Alexander Zavorine                      <alexandre.zavorine@nokia.com>
Alexander Zavorine                      <alexandre.zavorine@nokia.com> <azav@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# charliesome
Charlie Somerville                      <charliesome@ruby-lang.org>
Charlie Somerville                      <charliesome@ruby-lang.org> <charliesome@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# dave
Dave Thomas                             <dave@pragprog.com>
Dave Thomas                             <dave@pragprog.com> <dave@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# davidflanagan
David Flanagan                          <davidflanagan@ruby-lang.org>
David Flanagan                          <davidflanagan@ruby-lang.org> <david@think32>
David Flanagan                          <davidflanagan@ruby-lang.org> <david@davidflanagan.com>
David Flanagan                          <davidflanagan@ruby-lang.org> <davidflanagan@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# dblack
David A. Black                          <dblack@rubypal.com>
David A. Black                          <dblack@rubypal.com> <dblack@wobblini.net>
David A. Black                          <dblack@rubypal.com> <dblack@superlink.net>
David A. Black                          <dblack@rubypal.com> <dblack@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# drbrain
Eric Hodel                              <drbrain@segment7.net>
Eric Hodel                              <drbrain@segment7.net> <drbrain@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# duerst
Martin Dürst                            <duerst@it.aoyama.ac.jp>
Martin Dürst                            <duerst@it.aoyama.ac.jp> <duerst@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# eban
WATANABE Hirofumi                       <eban@ruby-lang.org>
WATANABE Hirofumi                       <eban@ruby-lang.org> <eban@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# emboss
Martin Bosslet                          <Martin.Bosslet@gmail.com>
Martin Bosslet                          <Martin.Bosslet@gmail.com> <Martin.Bosslet@googlemail.com>
Martin Bosslet                          <Martin.Bosslet@gmail.com> <emboss@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# eregon
Benoit Daloze                           <eregontp@gmail.com>
Benoit Daloze                           <eregontp@gmail.com> <eregon@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# evan
Evan Phoenix                            <evan@ruby-lang.org>
Evan Phoenix                            <evan@ruby-lang.org> <evan@fallingsnow.net>
Evan Phoenix                            <evan@ruby-lang.org> <evan@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# glass
Masaki Matsushita                       <glass.saga@gmail.com>
Masaki Matsushita                       <glass.saga@gmail.com> <glass@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# gogotanaka
Kazuki Tanaka                           <gogotanaka@ruby-lang.org>
Kazuki Tanaka                           <gogotanaka@ruby-lang.org> <gogotanaka@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# gotoken
Kentaro Goto                            <gotoken@gmail.com>
Kentaro Goto                            <gotoken@gmail.com> <gotoken@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# gotoyuzo
GOTOU Yuuzou                            <gotoyuzo@notwork.org>
GOTOU Yuuzou                            <gotoyuzo@notwork.org> <gotoyuzo@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# gsinclair
Gavin Sinclair                          <gsinclair@soyabean.com.au>
Gavin Sinclair                          <gsinclair@soyabean.com.au> <gsinclair@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# H_Konishi
KONISHI Hiromasa                        <konishih@fd6.so-net.ne.jp>
KONISHI Hiromasa                        <konishih@fd6.so-net.ne.jp> <H_Konishi@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# headius
Charles Oliver Nutter                   <headius@headius.com>
Charles Oliver Nutter                   <headius@headius.com> <headius@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# hone
Terence Lee                             <hone@heroku.com>
Terence Lee                             <hone@heroku.com> <hone@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# hsbt
Hiroshi SHIBATA                         <hsbt@ruby-lang.org>
Hiroshi SHIBATA                         <hsbt@ruby-lang.org> <hsbt@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# iwamatsu
Nobuhiro Iwamatsu                       <iwamatsu@nigauri.org>
Nobuhiro Iwamatsu                       <iwamatsu@nigauri.org> <iwamatsu@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# jeg2
James Edward Gray II                    <james@graysoftinc.com>
James Edward Gray II                    <james@graysoftinc.com> <jeg2@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# jim
Jim Weirich                             <jim@tardis.local>
Jim Weirich                             <jim@tardis.local> <jim@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# k0kubun
Takashi Kokubun                         <takashikkbn@gmail.com>
Takashi Kokubun                         <takashikkbn@gmail.com> <k0kubun@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# kanemoto
Yutaka Kanemoto                         <kanemoto@ruby-lang.org>
Yutaka Kanemoto                         <kanemoto@ruby-lang.org> <kanemoto@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# katsu
UENO Katsuhiro                          <katsu@blue.sky.or.jp>
UENO Katsuhiro                          <katsu@blue.sky.or.jp> <katsu@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# kazu
Kazuhiro NISHIYAMA                      <zn@mbf.nifty.com>
Kazuhiro NISHIYAMA                      <zn@mbf.nifty.com> <kazu@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# keiju
Keiju Ishitsuka                         <keiju@ishitsuka.com>
Keiju Ishitsuka                         <keiju@ishitsuka.com> <keiju@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# knu
Akinori MUSHA                           <knu@iDaemons.org>
Akinori MUSHA                           <knu@iDaemons.org> <knu@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ko1
Koichi Sasada                           <ko1@atdot.net>
Koichi Sasada                           <ko1@atdot.net> <ko1@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# kosaki
KOSAKI Motohiro                         <kosaki.motohiro@gmail.com>
KOSAKI Motohiro                         <kosaki.motohiro@gmail.com> <kosaki@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# kosako
K.Kosako                                <sndgk393@ybb.ne.jp>
K.Kosako                                <sndgk393@ybb.ne.jp> <kosako@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# kou
Sutou Kouhei                            <kou@clear-code.com>
Sutou Kouhei                            <kou@clear-code.com> <kou@cozmixng.org>
Sutou Kouhei                            <kou@clear-code.com> <kou@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# kouji
Kouji Takao                             <kouji.takao@gmail.com>
Kouji Takao                             <kouji.takao@gmail.com> <kouji@takao7.net>
Kouji Takao                             <kouji.takao@gmail.com> <kouji@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ksaito
Kazuo Saito                             <ksaito@uranus.dti.ne.jp>
Kazuo Saito                             <ksaito@uranus.dti.ne.jp> <ksaito@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ktsj
Kazuki Tsujimoto                        <kazuki@callcc.net>
Kazuki Tsujimoto                        <kazuki@callcc.net> <ktsj@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# luislavena
Luis Lavena                             <luislavena@gmail.com>
Luis Lavena                             <luislavena@gmail.com> <luislavena@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# mame
Yusuke Endoh                            <mame@ruby-lang.org>
## Yusuke Endoh                         <mame@ruby-lang.org> <mame@tsg.ne.jp>
Yusuke Endoh                            <mame@ruby-lang.org> <mame@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# marcandre
Marc-Andre Lafortune                    <github@marc-andre.ca>
Marc-Andre Lafortune                    <ruby-core@marc-andre.ca>
Marc-Andre Lafortune                    <ruby-core@marc-andre.ca> <marcandre@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# matz
Yukihiro "Matz" Matsumoto               <matz@ruby.or.jp>
Yukihiro "Matz" Matsumoto               <matz@ruby.or.jp> <matz@ruby-lang.org>
Yukihiro "Matz" Matsumoto               <matz@ruby.or.jp> <matz@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# michal
Michal Rokos                            <michal@ruby-lang.org>
Michal Rokos                            <michal@ruby-lang.org> <michal@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# mneumann
Michael Neumann                         <mneumann@ruby-lang.org>
Michael Neumann                         <mneumann@ruby-lang.org> <mneumann@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# mrkn
Kenta Murata                            <mrkn@mrkn.jp>
Kenta Murata                            <mrkn@mrkn.jp> <muraken@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>
Kenta Murata                            <mrkn@mrkn.jp> <3959+mrkn@users.noreply.github.com>
Kenta Murata                            <mrkn@mrkn.jp> <mrkn@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# nagachika
nagachika                               <nagachika@ruby-lang.org>
nagachika                               <nagachika@ruby-lang.org> <nagachika@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# nagai
Hidetoshi NAGAI                         <nagai@ai.kyutech.ac.jp>
Hidetoshi NAGAI                         <nagai@ai.kyutech.ac.jp> <nagai@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# nahi
Hiroshi Nakamura                        <nahi@ruby-lang.org>
Hiroshi Nakamura                        <nahi@ruby-lang.org> <nahi@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# nari
Narihiro Nakamura                       <authornari@gmail.com>
Narihiro Nakamura                       <authornari@gmail.com> <nari@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# naruse
NARUSE, Yui                             <naruse@airemix.jp>
NARUSE, Yui                             <naruse@airemix.jp> <naruse@ruby-lang.org>
NARUSE, Yui                             <naruse@airemix.jp> <naruse@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ngoto
Naohisa Goto                            <ngotogenome@gmail.com>
Naohisa Goto                            <ngotogenome@gmail.com> <ngoto@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# nobu
Nobuyoshi Nakada                        <nobu@ruby-lang.org>
Nobuyoshi Nakada                        <nobu@ruby-lang.org> <nobu@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# normal
Eric Wong                               <normal@ruby-lang.org>
Eric Wong                               <normal@ruby-lang.org> <e@80x24.org>
Eric Wong                               <normal@ruby-lang.org> <normal@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ntalbott
Nathaniel Talbott                       <ntalbott@ruby-lang.org>
Nathaniel Talbott                       <ntalbott@ruby-lang.org> <ntalbott@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ocean
Hirokazu Yamamoto                       <ocean@m2.ccsnet.ne.jp>
Hirokazu Yamamoto                       <ocean@m2.ccsnet.ne.jp> <ocean@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# odaira
Rei Odaira                              <rodaira@us.ibm.com>
Rei Odaira                              <rodaira@us.ibm.com> <Rei.Odaira@gmail.com>
Rei Odaira                              <rodaira@us.ibm.com> <odaira@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# okkez
okkez                                   <okkez000@gmail.com>
okkez                                   <okkez000@gmail.com> <okkez@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# rhe
Kazuki Yamaguchi                        <k@rhe.jp>
Kazuki Yamaguchi                        <k@rhe.jp> <rhe@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ryan
Ryan Davis                              <ryand-github@zenspider.com>
Ryan Davis                              <ryand-github@zenspider.com> <ryand-ruby@zenspider.com>
Ryan Davis                              <ryand-github@zenspider.com> <ryan@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# samuel
Samuel Williams                         <samuel.williams@oriontransfer.co.nz>
Samuel Williams                         <samuel.williams@oriontransfer.co.nz> <samuel@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# seki
Masatoshi SEKI                          <m_seki@mva.biglobe.ne.jp>
Masatoshi SEKI                          <m_seki@mva.biglobe.ne.jp> <seki@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ser
Sean Russell                            <ser@germane-software.com>
Sean Russell                            <ser@germane-software.com> <ser@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# shigek
Shigeo Kobayashi                        <shigek@ruby-lang.org>
Shigeo Kobayashi                        <shigek@ruby-lang.org> <shigek@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# shirosaki
Hiroshi Shirosaki                       <h.shirosaki@gmail.com>
Hiroshi Shirosaki                       <h.shirosaki@gmail.com> <shirosaki@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# sho-h
Sho Hashimoto                           <sho-h@ruby-lang.org>
Sho Hashimoto                           <sho-h@ruby-lang.org> <sho-h@netlab.jp>
Sho Hashimoto                           <sho-h@ruby-lang.org> <sho.hsmt@gmail.com>
Sho Hashimoto                           <sho-h@ruby-lang.org> <sho-h@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# shugo
Shugo Maeda                             <shugo@ruby-lang.org>
Shugo Maeda                             <shugo@ruby-lang.org> <shugo@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# shyouhei
卜部昌平                                    <shyouhei@ruby-lang.org>
卜部昌平                                    <shyouhei@ruby-lang.org> <shyouhei@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# siena
Siena.                                  <siena@faculty.chiba-u.jp>
Siena.                                  <siena@faculty.chiba-u.jp> <siena@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# sonots
sonots                                  <sonots@gmail.com>
sonots                                  <sonots@gmail.com> <sonots@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# sorah
Sorah Fukumori                          <her@sorah.jp>
Sorah Fukumori                          <her@sorah.jp> <sorah@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# stomar
Marcus Stollsteimer                     <sto.mar@web.de>
Marcus Stollsteimer                     <sto.mar@web.de> <stomar@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# suke
Masaki Suketa                           <masaki.suketa@nifty.ne.jp>
Masaki Suketa                           <masaki.suketa@nifty.ne.jp> <suke@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# tadd
Tadashi Saito                           <tad.a.digger@gmail.com>
Tadashi Saito                           <tad.a.digger@gmail.com> <tadd@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# tadf
Tadayoshi Funaba                        <tadf@dotrb.org>
Tadayoshi Funaba                        <tadf@dotrb.org> <tadf@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# takano32
TAKANO Mitsuhiro                        <takano32@gmail.com>
TAKANO Mitsuhiro                        <takano32@gmail.com> <takano32@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# tarui
Masaya Tarui                            <tarui@ruby-lang.org>
Masaya Tarui                            <tarui@ruby-lang.org> <tarui@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# technorama
Technorama Ltd.                         <oss-ruby@technorama.net>
Technorama Ltd.                         <oss-ruby@technorama.net> <technorama@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# tenderlove
Aaron Patterson                         <tenderlove@ruby-lang.org>
Aaron Patterson                         <tenderlove@ruby-lang.org> <tenderlove@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# tmm1
Aman Gupta                              <ruby@tmm1.net>
Aman Gupta                              <ruby@tmm1.net> <tmm1@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ts
Guy Decoux                              <ts@moulon.inra.fr>
Guy Decoux                              <ts@moulon.inra.fr> <ts@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ttate
Takaaki Tateishi                        <ttate@ttsky.net>
## Takaaki Tateishi                     <ttate@ttsky.net> <ttate@kt.jaist.ac.jp>
Takaaki Tateishi                        <ttate@ttsky.net> <ttate@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# uema2
Takaaki Uematsu                         <uema2x@jcom.home.ne.jp>
Takaaki Uematsu                         <uema2x@jcom.home.ne.jp> <uema2@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# usa
U.Nakamura                              <usa@ruby-lang.org>
U.Nakamura                              <usa@ruby-lang.org> <usa@garbagecollect.jp>
U.Nakamura                              <usa@ruby-lang.org> <usa@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# wakou
Wakou Aoyama                            <wakou@ruby-lang.org>
Wakou Aoyama                            <wakou@ruby-lang.org> <wakou@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# wanabe
wanabe                                  <s.wanabe@gmail.com>
wanabe                                  <s.wanabe@gmail.com> <wanabe@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# watson1978
Watson                                  <watson1978@gmail.com>
Watson                                  <watson1978@gmail.com> <watson1978@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# wew
William Webber                          <william@williamwebber.com>
William Webber                          <william@williamwebber.com> <wew@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# why
why the lucky stiff                     <why@ruby-lang.org>
why the lucky stiff                     <why@ruby-lang.org> <why@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# xibbar
Takeyuki FUJIOKA                        <xibbar@ruby-lang.org>
Takeyuki FUJIOKA                        <xibbar@ruby-lang.org> <xibbar@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# yugui
Yuki Yugui Sonoda                       <yugui@yugui.jp>
Yuki Yugui Sonoda                       <yugui@yugui.jp> <yugui@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# yui-knk
yui-knk                                 <spiketeika@gmail.com>
yui-knk                                 <spiketeika@gmail.com> <yui-knk@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# yuki
Yuki Nishijima                          <yuki24@hey.com>
Yuki Nishijima                          <yuki24@hey.com> <mail@yukinishijima.net>
Yuki Nishijima                          <yuki24@hey.com> <yuki@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# zsombor
Dee Zsombor                             <zsombor@ruby-lang.org>
Dee Zsombor                             <zsombor@ruby-lang.org> <zsombor@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# zzak
zzak                                    <zzakscott@gmail.com>
zzak                                    <zzakscott@gmail.com> <zzak@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>
