git[bot]                                <svn-admin@ruby-lang.org>
git[bot]                                <svn-admin@ruby-lang.org> git <svn@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>
svn[bot]                                <svn-admin@ruby-lang.org> svn <svn@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# a_matsuda
Akira Matsuda (a_matsuda)               <ronnie@dio.jp>
Akira Matsuda (a_matsuda)               <ronnie@dio.jp> <a_matsuda@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# aamine
Minero Aoki (aamine)                    <aamine@loveruby.net>
Minero Aoki (aamine)                    <aamine@loveruby.net> <aamine@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# akira
akira yamada (akira)                    <akira@ruby-lang.org>
## akira yamada (akira)                 <akira@ruby-lang.org> <akira@rice.p.arika.org>
akira yamada (akira)                    <akira@ruby-lang.org> <akira@arika.org>
akira yamada (akira)                    <akira@ruby-lang.org> <akira@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# akiyoshi
AKIYOSHI, Masamichi (akiyoshi)          <masamichi.akiyoshi@hp.com>
AKIYOSHI, Masamichi (akiyoshi)          <masamichi.akiyoshi@hp.com> <akiyoshi@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# akr
Tanaka Akira (akr)                      <akr@fsij.org>
Tanaka Akira (akr)                      <akr@fsij.org> <akr@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# arai
Koji Arai (arai)                        <jca02266@nifty.ne.jp>
Koji Arai (arai)                        <jca02266@nifty.ne.jp> <arai@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# arton
Akio Tajima (arton)                     <artonx@yahoo.co.jp>
Akio Tajima (arton)                     <artonx@yahoo.co.jp> <arton@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# aycabta
aycabta (aycabta)                       <aycabta@gmail.com>
aycabta (aycabta)                       <aycabta@gmail.com> <aycabta@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ayumin
Ayumu AIZAWA (ayumin)                   <ayumu.aizawa@gmail.com>
Ayumu AIZAWA (ayumin)                   <ayumu.aizawa@gmail.com> <ayumin@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# azav
Alexander Zavorine (azav)               <alexandre.zavorine@nokia.com>
Alexander Zavorine (azav)               <alexandre.zavorine@nokia.com> <azav@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# charliesome
Charlie Somerville (charliesome)        <charliesome@ruby-lang.org>
Charlie Somerville (charliesome)        <charliesome@ruby-lang.org> <charliesome@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# dave
Dave Thomas (dave)                      <dave@pragprog.com>
Dave Thomas (dave)                      <dave@pragprog.com> <dave@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# davidflanagan
David Flanagan (davidflanagan)          <davidflanagan@ruby-lang.org>
David Flanagan (davidflanagan)          <davidflanagan@ruby-lang.org> <david@think32>
David Flanagan (davidflanagan)          <davidflanagan@ruby-lang.org> <david@davidflanagan.com>
David Flanagan (davidflanagan)          <davidflanagan@ruby-lang.org> <davidflanagan@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# dblack
David A. Black (dblack)                 <dblack@rubypal.com>
David A. Black (dblack)                 <dblack@rubypal.com> <dblack@wobblini.net>
David A. Black (dblack)                 <dblack@rubypal.com> <dblack@superlink.net>
David A. Black (dblack)                 <dblack@rubypal.com> <dblack@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# drbrain
Eric Hodel (drbrain)                    <drbrain@segment7.net>
Eric Hodel (drbrain)                    <drbrain@segment7.net> <drbrain@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# duerst
Martin Dürst (duerst)                   <duerst@it.aoyama.ac.jp>
Martin Dürst (duerst)                   <duerst@it.aoyama.ac.jp> <duerst@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# eban
WATANABE Hirofumi (eban)                <eban@ruby-lang.org>
WATANABE Hirofumi (eban)                <eban@ruby-lang.org> <eban@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# emboss
Martin Bosslet (emboss)                 <Martin.Bosslet@gmail.com>
Martin Bosslet (emboss)                 <Martin.Bosslet@gmail.com> <Martin.Bosslet@googlemail.com>
Martin Bosslet (emboss)                 <Martin.Bosslet@gmail.com> <emboss@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# eregon
Benoit Daloze (eregon)                  <eregontp@gmail.com>
Benoit Daloze (eregon)                  <eregontp@gmail.com> <eregon@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# evan
Evan Phoenix (evan)                     <evan@ruby-lang.org>
Evan Phoenix (evan)                     <evan@ruby-lang.org> <evan@fallingsnow.net>
Evan Phoenix (evan)                     <evan@ruby-lang.org> <evan@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# glass
Masaki Matsushita (glass)               <glass.saga@gmail.com>
Masaki Matsushita (glass)               <glass.saga@gmail.com> <glass@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# gogotanaka
Kazuki Tanaka (gogotanaka)              <gogotanaka@ruby-lang.org>
Kazuki Tanaka (gogotanaka)              <gogotanaka@ruby-lang.org> <gogotanaka@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# gotoken
Kentaro Goto (gotoken)                  <gotoken@gmail.com>
Kentaro Goto (gotoken)                  <gotoken@gmail.com> <gotoken@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# gotoyuzo
GOTOU Yuuzou (gotoyuzo)                 <gotoyuzo@notwork.org>
GOTOU Yuuzou (gotoyuzo)                 <gotoyuzo@notwork.org> <gotoyuzo@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# gsinclair
Gavin Sinclair (gsinclair)              <gsinclair@soyabean.com.au>
Gavin Sinclair (gsinclair)              <gsinclair@soyabean.com.au> <gsinclair@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# H_Konishi
KONISHI Hiromasa (H_Konishi)            <konishih@fd6.so-net.ne.jp>
KONISHI Hiromasa (H_Konishi)            <konishih@fd6.so-net.ne.jp> <H_Konishi@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# headius
Charles Oliver Nutter (headius)         <headius@headius.com>
Charles Oliver Nutter (headius)         <headius@headius.com> <headius@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# hone
Terence Lee (hone)                      <hone@heroku.com>
Terence Lee (hone)                      <hone@heroku.com> <hone@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# hsbt
Hiroshi SHIBATA (hsbt)                  <hsbt@ruby-lang.org>
Hiroshi SHIBATA (hsbt)                  <hsbt@ruby-lang.org> <hsbt@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# iwamatsu
Nobuhiro Iwamatsu (iwamatsu)            <iwamatsu@nigauri.org>
Nobuhiro Iwamatsu (iwamatsu)            <iwamatsu@nigauri.org> <iwamatsu@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# jeg2
James Edward Gray II (jeg2)             <james@graysoftinc.com>
James Edward Gray II (jeg2)             <james@graysoftinc.com> <jeg2@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# jim
Jim Weirich (jim)                       <jim@tardis.local>
Jim Weirich (jim)                       <jim@tardis.local> <jim@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# k0kubun
Takashi Kokubun (k0kubun)               <takashikkbn@gmail.com>
Takashi Kokubun (k0kubun)               <takashikkbn@gmail.com> <k0kubun@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# kanemoto
Yutaka Kanemoto (kanemoto)              <kanemoto@ruby-lang.org>
Yutaka Kanemoto (kanemoto)              <kanemoto@ruby-lang.org> <kanemoto@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# katsu
UENO Katsuhiro (katsu)                  <katsu@blue.sky.or.jp>
UENO Katsuhiro (katsu)                  <katsu@blue.sky.or.jp> <katsu@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# kazu
Kazuhiro NISHIYAMA (kazu)               <zn@mbf.nifty.com>
Kazuhiro NISHIYAMA (kazu)               <zn@mbf.nifty.com> <kazu@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# keiju
Keiju Ishitsuka (keiju)                 <keiju@ishitsuka.com>
Keiju Ishitsuka (keiju)                 <keiju@ishitsuka.com> <keiju@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# knu
Akinori MUSHA (knu)                     <knu@iDaemons.org>
Akinori MUSHA (knu)                     <knu@iDaemons.org> <knu@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ko1
Koichi Sasada (ko1)                     <ko1@atdot.net>
Koichi Sasada (ko1)                     <ko1@atdot.net> <ko1@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# kosaki
KOSAKI Motohiro (kosaki)                <kosaki.motohiro@gmail.com>
KOSAKI Motohiro (kosaki)                <kosaki.motohiro@gmail.com> <kosaki@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# kosako
K.Kosako (kosako)                       <sndgk393@ybb.ne.jp>
K.Kosako (kosako)                       <sndgk393@ybb.ne.jp> <kosako@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# kou
Sutou Kouhei (kou)                      <kou@clear-code.com>
Sutou Kouhei (kou)                      <kou@clear-code.com> <kou@cozmixng.org>
Sutou Kouhei (kou)                      <kou@clear-code.com> <kou@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# kouji
Kouji Takao (kouji)                     <kouji.takao@gmail.com>
Kouji Takao (kouji)                     <kouji.takao@gmail.com> <kouji@takao7.net>
Kouji Takao (kouji)                     <kouji.takao@gmail.com> <kouji@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ksaito
Kazuo Saito (ksaito)                    <ksaito@uranus.dti.ne.jp>
Kazuo Saito (ksaito)                    <ksaito@uranus.dti.ne.jp> <ksaito@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ktsj
Kazuki Tsujimoto (ktsj)                 <kazuki@callcc.net>
Kazuki Tsujimoto (ktsj)                 <kazuki@callcc.net> <ktsj@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# luislavena
Luis Lavena (luislavena)                <luislavena@gmail.com>
Luis Lavena (luislavena)                <luislavena@gmail.com> <luislavena@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# mame
Yusuke Endoh (mame)                     <mame@ruby-lang.org>
## Yusuke Endoh (mame)                  <mame@ruby-lang.org> <mame@tsg.ne.jp>
Yusuke Endoh (mame)                     <mame@ruby-lang.org> <mame@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# marcandre
Marc-Andre Lafortune (marcandre)        <github@marc-andre.ca>
Marc-Andre Lafortune (marcandre)        <ruby-core@marc-andre.ca>
Marc-Andre Lafortune (marcandre)        <ruby-core@marc-andre.ca> <marcandre@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# matz
Yukihiro "Matz" Matsumoto (matz)        <matz@ruby.or.jp>
Yukihiro "Matz" Matsumoto (matz)        <matz@ruby.or.jp> <matz@ruby-lang.org>
Yukihiro "Matz" Matsumoto (matz)        <matz@ruby.or.jp> <matz@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# michal
Michal Rokos (michal)                   <michal@ruby-lang.org>
Michal Rokos (michal)                   <michal@ruby-lang.org> <michal@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# mneumann
Michael Neumann (mneumann)              <mneumann@ruby-lang.org>
Michael Neumann (mneumann)              <mneumann@ruby-lang.org> <mneumann@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# mrkn
Kenta Murata (mrkn)                     <mrkn@mrkn.jp>
Kenta Murata (mrkn)                     <mrkn@mrkn.jp> <muraken@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>
Kenta Murata (mrkn)                     <mrkn@mrkn.jp> <3959+mrkn@users.noreply.github.com>
Kenta Murata (mrkn)                     <mrkn@mrkn.jp> <mrkn@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# nagachika
nagachika (nagachika)                   <nagachika@ruby-lang.org>
nagachika (nagachika)                   <nagachika@ruby-lang.org> <nagachika@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# nagai
Hidetoshi NAGAI (nagai)                 <nagai@ai.kyutech.ac.jp>
Hidetoshi NAGAI (nagai)                 <nagai@ai.kyutech.ac.jp> <nagai@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# nahi
Hiroshi Nakamura (nahi)                 <nahi@ruby-lang.org>
Hiroshi Nakamura (nahi)                 <nahi@ruby-lang.org> <nahi@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# nari
Narihiro Nakamura (nari)                <authornari@gmail.com>
Narihiro Nakamura (nari)                <authornari@gmail.com> <nari@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# naruse
NARUSE, Yui (naruse)                    <naruse@airemix.jp>
NARUSE, Yui (naruse)                    <naruse@airemix.jp> <naruse@ruby-lang.org>
NARUSE, Yui (naruse)                    <naruse@airemix.jp> <naruse@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ngoto
Naohisa Goto (ngoto)                    <ngotogenome@gmail.com>
Naohisa Goto (ngoto)                    <ngotogenome@gmail.com> <ngoto@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# nobu
Nobuyoshi Nakada (nobu)                 <nobu@ruby-lang.org>
Nobuyoshi Nakada (nobu)                 <nobu@ruby-lang.org> <nobu@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# normal
Eric Wong (normal)                      <normal@ruby-lang.org>
Eric Wong (normal)                      <normal@ruby-lang.org> <e@80x24.org>
Eric Wong (normal)                      <normal@ruby-lang.org> <normal@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ntalbott
Nathaniel Talbott (ntalbott)            <ntalbott@ruby-lang.org>
Nathaniel Talbott (ntalbott)            <ntalbott@ruby-lang.org> <ntalbott@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ocean
Hirokazu Yamamoto (ocean)               <ocean@m2.ccsnet.ne.jp>
Hirokazu Yamamoto (ocean)               <ocean@m2.ccsnet.ne.jp> <ocean@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# odaira
Rei Odaira (odaira)                     <rodaira@us.ibm.com>
Rei Odaira (odaira)                     <rodaira@us.ibm.com> <Rei.Odaira@gmail.com>
Rei Odaira (odaira)                     <rodaira@us.ibm.com> <odaira@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# okkez
okkez (okkez)                           <okkez000@gmail.com>
okkez (okkez)                           <okkez000@gmail.com> <okkez@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# rhe
Kazuki Yamaguchi (rhe)                  <k@rhe.jp>
Kazuki Yamaguchi (rhe)                  <k@rhe.jp> <rhe@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ryan
Ryan Davis (ryan)                       <ryand-github@zenspider.com>
Ryan Davis (ryan)                       <ryand-github@zenspider.com> <ryand-ruby@zenspider.com>
Ryan Davis (ryan)                       <ryand-github@zenspider.com> <ryan@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# samuel
Samuel Williams (samuel)                <samuel.williams@oriontransfer.co.nz>
Samuel Williams (samuel)                <samuel.williams@oriontransfer.co.nz> <samuel@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# seki
Masatoshi SEKI (seki)                   <m_seki@mva.biglobe.ne.jp>
Masatoshi SEKI (seki)                   <m_seki@mva.biglobe.ne.jp> <seki@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ser
Sean Russell (ser)                      <ser@germane-software.com>
Sean Russell (ser)                      <ser@germane-software.com> <ser@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# shigek
Shigeo Kobayashi (shigek)               <shigek@ruby-lang.org>
Shigeo Kobayashi (shigek)               <shigek@ruby-lang.org> <shigek@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# shirosaki
Hiroshi Shirosaki (shirosaki)           <h.shirosaki@gmail.com>
Hiroshi Shirosaki (shirosaki)           <h.shirosaki@gmail.com> <shirosaki@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# sho-h
Sho Hashimoto (sho-h)                   <sho-h@ruby-lang.org>
Sho Hashimoto (sho-h)                   <sho-h@ruby-lang.org> <sho-h@netlab.jp>
Sho Hashimoto (sho-h)                   <sho-h@ruby-lang.org> <sho.hsmt@gmail.com>
Sho Hashimoto (sho-h)                   <sho-h@ruby-lang.org> <sho-h@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# shugo
Shugo Maeda (shugo)                     <shugo@ruby-lang.org>
Shugo Maeda (shugo)                     <shugo@ruby-lang.org> <shugo@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# shyouhei
卜部昌平 (shyouhei)                         <shyouhei@ruby-lang.org>
卜部昌平 (shyouhei)                         <shyouhei@ruby-lang.org> <shyouhei@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# siena
Siena. (siena)                          <siena@faculty.chiba-u.jp>
Siena. (siena)                          <siena@faculty.chiba-u.jp> <siena@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# sonots
sonots (sonots)                         <sonots@gmail.com>
sonots (sonots)                         <sonots@gmail.com> <sonots@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# sorah
Sorah Fukumori (sorah)                  <her@sorah.jp>
Sorah Fukumori (sorah)                  <her@sorah.jp> <sorah@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# stomar
Marcus Stollsteimer (stomar)            <sto.mar@web.de>
Marcus Stollsteimer (stomar)            <sto.mar@web.de> <stomar@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# suke
Masaki Suketa (suke)                    <masaki.suketa@nifty.ne.jp>
Masaki Suketa (suke)                    <masaki.suketa@nifty.ne.jp> <suke@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# tadd
Tadashi Saito (tadd)                    <tad.a.digger@gmail.com>
Tadashi Saito (tadd)                    <tad.a.digger@gmail.com> <tadd@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# tadf
Tadayoshi Funaba (tadf)                 <tadf@dotrb.org>
Tadayoshi Funaba (tadf)                 <tadf@dotrb.org> <tadf@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# takano32
TAKANO Mitsuhiro (takano32)             <takano32@gmail.com>
TAKANO Mitsuhiro (takano32)             <takano32@gmail.com> <takano32@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# tarui
Masaya Tarui (tarui)                    <tarui@ruby-lang.org>
Masaya Tarui (tarui)                    <tarui@ruby-lang.org> <tarui@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# technorama
Technorama Ltd. (technorama)            <oss-ruby@technorama.net>
Technorama Ltd. (technorama)            <oss-ruby@technorama.net> <technorama@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# tenderlove
Aaron Patterson (tenderlove)            <tenderlove@ruby-lang.org>
Aaron Patterson (tenderlove)            <tenderlove@ruby-lang.org> <tenderlove@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# tmm1
Aman Gupta (tmm1)                       <ruby@tmm1.net>
Aman Gupta (tmm1)                       <ruby@tmm1.net> <tmm1@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ts
Guy Decoux (ts)                         <ts@moulon.inra.fr>
Guy Decoux (ts)                         <ts@moulon.inra.fr> <ts@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# ttate
Takaaki Tateishi (ttate)                <ttate@ttsky.net>
## Takaaki Tateishi (ttate)             <ttate@ttsky.net> <ttate@kt.jaist.ac.jp>
Takaaki Tateishi (ttate)                <ttate@ttsky.net> <ttate@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# uema2
Takaaki Uematsu (uema2)                 <uema2x@jcom.home.ne.jp>
Takaaki Uematsu (uema2)                 <uema2x@jcom.home.ne.jp> <uema2@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# usa
U.Nakamura (usa)                        <usa@ruby-lang.org>
U.Nakamura (usa)                        <usa@ruby-lang.org> <usa@garbagecollect.jp>
U.Nakamura (usa)                        <usa@ruby-lang.org> <usa@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# wakou
Wakou Aoyama (wakou)                    <wakou@ruby-lang.org>
Wakou Aoyama (wakou)                    <wakou@ruby-lang.org> <wakou@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# wanabe
wanabe (wanabe)                         <s.wanabe@gmail.com>
wanabe (wanabe)                         <s.wanabe@gmail.com> <wanabe@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# watson1978
Watson (watson1978)                     <watson1978@gmail.com>
Watson (watson1978)                     <watson1978@gmail.com> <watson1978@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# wew
William Webber (wew)                    <william@williamwebber.com>
William Webber (wew)                    <william@williamwebber.com> <wew@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# why
why the lucky stiff (why)               <why@ruby-lang.org>
why the lucky stiff (why)               <why@ruby-lang.org> <why@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# xibbar
Takeyuki FUJIOKA (xibbar)               <xibbar@ruby-lang.org>
Takeyuki FUJIOKA (xibbar)               <xibbar@ruby-lang.org> <xibbar@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# yugui
Yuki Yugui Sonoda (yugui)               <yugui@yugui.jp>
Yuki Yugui Sonoda (yugui)               <yugui@yugui.jp> <yugui@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# yui-knk
yui-knk (yui-knk)                       <spiketeika@gmail.com>
yui-knk (yui-knk)                       <spiketeika@gmail.com> <yui-knk@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# yuki
Yuki Nishijima (yuki)                   <yuki24@hey.com>
Yuki Nishijima (yuki)                   <yuki24@hey.com> <mail@yukinishijima.net>
Yuki Nishijima (yuki)                   <yuki24@hey.com> <yuki@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# zsombor
Dee Zsombor (zsombor)                   <zsombor@ruby-lang.org>
Dee Zsombor (zsombor)                   <zsombor@ruby-lang.org> <zsombor@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

# zzak
zzak (zzak)                             <zzakscott@gmail.com>
zzak (zzak)                             <zzakscott@gmail.com> <zzak@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>
