# Copyright (C) 2011 Urabe, Shyouhei.  All rights reserved.
#
# This file is  a part of the programming language  Ruby.  Permission is hereby
# granted,  to either  redistribute  or  modify this  file,  provided that  the
# conditions  mentioned in  the file  COPYING are  met.  Consult  the  file for
# details.

# This is  a Travis-CI  build configuration file.   The list  of configurations
# available is located in
#
#     http://about.travis-ci.org/docs/user/build-configuration/
#
# and as Ruby itself is a project written in C language,
#
#     http://about.travis-ci.org/docs/user/languages/c/
#
# is also a good place to look at.

language: c
dist: trusty

sudo: false
addons:
  apt:
    config:
      retries: true
    update: true
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-8
      - libffi-dev
      - libgdbm-dev
      - libgmp-dev
      - libjemalloc-dev
      - libncurses5-dev
      - libncursesw5-dev
      - libreadline6-dev
      - libssl-dev
      - libyaml-dev
      - openssl
      - valgrind
      - zlib1g-dev
  homebrew:
    packages:
      - gdbm
      - gmp
      - libffi
      - openssl@1.1
      - zlib

matrix:
  include:
    - os: linux
      compiler: gcc
      env:
        - "CONFIG_FLAG='--with-gmp --with-jemalloc --with-valgrind'"
        - "JOBS=-j`nproc`"
    - os: linux
      compiler: gcc-8
      env:
        - "JOBS=-j`nproc`"
    - os: osx
      compiler: clang
      # We are not going to make rdoc here; that is to be done above.
      env:
        - "CONFIG_FLAG='--disable-install-doc --with-opt-dir=/usr/local/opt/openssl@1.1:/usr/local/opt/zlib'"
        - "JOBS=\"-j`sysctl -n hw.activecpu`\""
      before_install:
        # Bare "brew update" nukes everything.
        # These steps are very carefully chosen to avoid breaking things.
        - brew_core_dir=/usr/local/Homebrew/Library/Taps/homebrew/homebrew-core/
        - git -C $brew_core_dir fetch -q origin
        - git -C $brew_core_dir checkout -q 25590710e3f7af9cfa173c5cd3eb41a0532107b6
        - HOMEBREW_NO_AUTO_UPDATE=1 brew upgrade openssl@1.1
        - /usr/local/opt/openssl@1.1/bin/openssl version
    - os: linux
      language: ruby
      rvm: 2.3
      name: Running ruby/spec on 2.3 to ensure version guards are correctly added
      before_install:
      install:
      before_script: chmod -R u+w spec/ruby
      script: ruby -C spec/ruby ../mspec/bin/mspec -j .
  allow_failures:
    # It randomly hangs on travis osx. Let's remove this from allow_failures once it gets stable.
    - os: osx

before_script:
  - "echo JOBS=$JOBS"
  - "uname -a"
  - "uname -r"
  - "rm -fr .ext autom4te.cache"
  - "echo $TERM"
  - "> config.status"
  - "sed -f tool/prereq.status Makefile.in common.mk > Makefile"
  - "make update-config_files"
  - "make touch-unicode-files"
  - "make -s $JOBS srcs UNICODE_FILES=."
  - "rm config.status Makefile rbconfig.rb .rbconfig.time"
  - "mkdir build config_1st config_2nd"
  - "chmod -R a-w ."
  - "chmod u+w build config_1st config_2nd"
  - "cd build"
  - "../configure -C --disable-install-doc --prefix=/tmp/ruby-prefix --with-gcc=$CC $CONFIG_FLAG"
  - "cp -pr config.cache config.status .ext/include ../config_1st"
  - "make reconfig"
  - "cp -pr config.cache config.status .ext/include ../config_2nd"
  - "(cd .. && exec diff -ru config_1st config_2nd)"
  - "make -s $JOBS && make install"

script:
  - "make -s test TESTOPTS=--color=never"
  - "make -s $JOBS test-all -o exts TESTOPTS='-q --color=never --job-status=normal' RUBY_FORCE_TEST_JIT=1"
  - "make -s $JOBS test-spec MSPECOPT=-j"

# Branch matrix.  Not all branches are Travis-ready so we limit branches here.
branches:
  only:
    - trunk
    - ruby_2_3
    - ruby_2_4
    - ruby_2_5
    - /^feature\//
    - /^bug\//
    - /^travis-/

# We want to be notified when something happens.
notifications:
  irc:
    channels:
      - "chat.freenode.net#ruby-core"
      - "chat.freenode.net#ruby-ja"
    on_success: change # [always|never|change] # default: always
    on_failure: always # [always|never|change] # default: always
    template:
      - "%{message} by @%{author}: See %{build_url}"

  slack:
    rooms:
      - secure: i1GLETSKye85ea6dGNA3MxI/5myChmMFiZtBd5C69xK+s1sBFqEgOSbaSf9KHc0CYrHVyNhQMaZRruieV7xS+6Pfs0Zvxf1DO6QQTWC2KhkqwFDLvZncAzjoyASdR90hbr+iRPOngQ+HJuE94zemALAwEqNAinzA74PMiJXktqY= # ruby:<token>#commits
      - secure: ah7UEHBvncXT7bM5mvYIQAO+tIyV/wl7nXLb7wQD16dO2v8Gragy0mWjB79Q09hrrMGmp6H9bCDpdGS80boIA5EHaHoG4QaP0i9bsSt8U2AMWgZtfyIgQKJ4H2kXkGlrjO+AXTgnIkP7LNjdgAVUUTGQPb26T3QmoN2Splt+fIQ= # ruby:<token>#alerts
    on_pull_requests: false
    on_success: change
    on_failure: always

  email:
    - ko1c-failure@atdot.net

# Local Variables:
# mode: YAML
# coding: utf-8-unix
# indent-tabs-mode: nil
# tab-width: 4
# fill-column: 79
# default-justification: full
# End:
