# -*- YAML -*-
# Copyright (C) 2011 Urabe, Shyouhei.  All rights reserved.
#
# This file is  a part of the programming language  Ruby.  Permission is hereby
# granted,  to either  redistribute  or  modify this  file,  provided that  the
# conditions  mentioned in  the file  COPYING are  met.  Consult  the  file for
# details.

# Note we only manage non-amd64 free pipelines.
# https://docs.travis-ci.com/user/billing-overview/

# We enable Travis on the specific branches or forked repositories here.
if: (repo = ruby/ruby AND (branch = master OR branch =~ /^ruby_\d_\d$/)) OR repo != ruby/ruby OR commit_message !~ /\[DOC\]/

language: c

os: linux

dist: jammy

git:
  quiet: true

env:
  global:
    - NPROC="$(nproc)"
    # JOBS and SETARCH are overridden when necessary; see below.
    - JOBS=-j$((1+${NPROC}))
    - SETARCH=
    # https://github.com/travis-ci/travis-build/blob/e411371dda21430a60f61b8f3f57943d2fe4d344/lib/travis/build/bash/travis_apt_get_options.bash#L7
    - travis_apt_get_options='--allow-downgrades --allow-remove-essential --allow-change-held-packages'
    - travis_apt_get_options="-yq --no-install-suggests --no-install-recommends $travis_apt_get_options"
    # -O1 is faster than -O3 in our tests.
    - optflags=-O1
    # -g0 disables backtraces when SEGV.  Do not set that.
    - debugflags=-ggdb3
    - RUBY_TESTOPTS="$JOBS -q --tty=no"

.org.ruby-lang.ci.matrix-definitions:
  - &gcc-11
    compiler: gcc-11
    before_install:
      - tool/travis_retry.sh sudo bash -c "rm -rf '${TRAVIS_ROOT}/var/lib/apt/lists/'* && exec apt-get update -yq"
      - >-
        tool/travis_retry.sh sudo -E apt-get $travis_apt_get_options install
        gcc-11
        g++-11
        libffi-dev
        libncurses-dev
        libncursesw5-dev
        libreadline-dev
        libssl-dev
        libyaml-dev
        openssl
        zlib1g-dev
      - gcc-11 --version

  - &arm64-linux
    name: arm64-linux
    arch: arm64
    <<: *gcc-11

  - &ppc64le-linux
    name: ppc64le-linux
    arch: ppc64le
    dist: focal
    compiler: gcc

  - &s390x-linux
    name: s390x-linux
    arch: s390x
    compiler: gcc
    env:
      # Avoid possible test failures with the zlib applying the following patch
      # on s390x CPU architecture.
      # https://github.com/madler/zlib/pull/410
      - DFLTCC=0

  - &arm32-linux
    name: arm32-linux
    arch: arm64
    # https://packages.ubuntu.com/jammy/crossbuild-essential-armhf
    compiler: arm-linux-gnueabihf-gcc
    env:
      - SETARCH='setarch linux32 --verbose --32bit'
    before_install:
      - sudo dpkg --add-architecture armhf
      - tool/travis_retry.sh sudo bash -c "rm -rf '${TRAVIS_ROOT}/var/lib/apt/lists/'* && exec apt-get update -yq"
      - >-
        tool/travis_retry.sh sudo -E apt-get $travis_apt_get_options install
        crossbuild-essential-armhf
        libc6:armhf
        libstdc++-10-dev:armhf
        libffi-dev:armhf
        libncurses-dev:armhf
        libncursesw5-dev:armhf
        libreadline-dev:armhf
        libssl-dev:armhf
        libyaml-dev:armhf
        linux-libc-dev:armhf
        zlib1g-dev:armhf

matrix:
  include:
    # Build every commit (Allowed Failures):
    - <<: *arm32-linux
    # Comment out as the 2nd arm64 pipeline is unstable.
    # - <<: *arm64-linux
    - <<: *ppc64le-linux
    - <<: *s390x-linux
  allow_failures:
    # Allow failures for the unstable jobs.
    # - name: arm32-linux
    # - name: arm64-linux
    - name: ppc64le-linux
    - name: s390x-linux
  fast_finish: true

before_script:
  - ./autogen.sh
  - mkdir build
  - cd build
  - $SETARCH ../configure -C --disable-install-doc --prefix=$(pwd)/install
  - $SETARCH make -s $JOBS
  - make -s $JOBS install

script:
  - $SETARCH make -s test
  - ../tool/travis_wait.sh $SETARCH make -s test-all RUBYOPT="-w"
  - $SETARCH make -s test-spec

# We want to be notified when something happens.
notifications:
  webhooks:
    urls:
      - secure: mRsoS/UbqDkKkW5p3AEqM27d4SZnV6Gsylo3bm8T/deltQzTsGzZwrm7OIBXZv0UFZdE68XmPlyHfZFLSP2V9QZ7apXMf9/vw0GtcSe1gchtnjpAPF6lYBn7nMCbVPPx9cS0dwL927fjdRM1vj7IKZ2bk4F0lAJ25R25S6teqdk= # ruby-lang slack: ruby/simpler-alerts-bot (travis)
    on_success: never
    on_failure: always

  email:
    - jaruga@ruby-lang.org
