---
shallow_clone: true
platform: x64
install:
  - SET
  - '"C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\vcvarsall.bat" amd64'
  - SET PATH=\usr\local\bin;C:\Ruby22-x64\bin;C:\Ruby21-x64\Devkit\mingw\bin;%PATH%;C:\msys64\usr\bin
  - ruby --version
  - 'cl'
  - SET
  - mkdir \usr\local\bin
  - mkdir \usr\local\include
  - mkdir \usr\local\lib
  - appveyor DownloadFile http://zlib.net/zlib128.zip
  - 7z x zlib128.zip
  - cd zlib-1.2.8
  - nmake -f win32/Makefile.msc
  - copy zlib1.dll \usr\local\bin
  - copy zlib.lib  \usr\local\lib
  - copy zconf.h   \usr\local\include
  - copy zlib.h    \usr\local\include
  - for %%I in (c:\OpenSSL-Win64\*.dll) do mklink /h \usr\local\bin\%%~nxI %%I
build_script:
  - cd %APPVEYOR_BUILD_FOLDER%
  - win32\configure.bat --without-ext=+,dbm,gdbm,readline --with-opt-dir=/usr/local --with-openssl-dir=c:/OpenSSL-Win64
  - nmake -l up
  - nmake -l
  - nmake install-nodoc
test_script:
  - nmake -l "TESTOPTS=-v -q" btest
  - nmake -l "TESTOPTS=-v -q" test-basic
