name: BASERUBY Check

on:
  push:
    paths-ignore:
      - 'doc/**'
      - '**.md'
      - '**.rdoc'
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '**.md'
      - '**.rdoc'

concurrency:
  group: ${{ github.workflow }} / ${{ startsWith(github.event_name, 'pull') && github.ref_name || github.sha }}
  cancel-in-progress: ${{ startsWith(github.event_name, 'pull') }}

jobs:
  baseruby:
    name: BASERUBY
    runs-on: ubuntu-20.04
    if: ${{ !startsWith(github.event.head_commit.message, '[DOC]') && !contains(github.event.pull_request.labels.*.name, 'Documentation') }}
    strategy:
      matrix:
        ruby:
          - ruby-2.2
#         - ruby-2.3
#         - ruby-2.4
#         - ruby-2.5
#         - ruby-2.6
          - ruby-2.7
          - ruby-3.0

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: .downloaded-cache
          key: downloaded-cache
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: none
      - run: echo "GNUMAKEFLAGS=-j$((1 + $(nproc --all)))" >> $GITHUB_ENV
      - run: sudo apt-get install build-essential autoconf bison
      - run: ./autogen.sh
      - run: ./configure --disable-install-doc
      - run: make common-srcs
      - run: make incs
      - run: make all
      - run: make test
      - uses: k0kubun/action-slack@v2.0.0
        with:
          payload: |
            {
              "ci": "GitHub Actions",
              "env": "${{ github.workflow }} / BASERUBY @ ${{ matrix.ruby }}",
              "url": "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}",
              "commit": "${{ github.sha }}",
              "branch": "${{ github.ref }}".split('/').reverse()[0]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SIMPLER_ALERTS_URL }} # ruby-lang slack: ruby/simpler-alerts-bot
        if: ${{ failure() && github.event_name == 'push' }}
