name: Compilations

on:
  push:
    paths-ignore:
      - 'doc/**'
      - '**/man'
      - '**.md'
      - '**.rdoc'
      - '**/.document'
      - '.*.yml'
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '**/man'
      - '**.md'
      - '**.rdoc'
      - '**/.document'
      - '.*.yml'
  merge_group:
    paths-ignore:
      - 'doc/**'
      - '**/man'
      - '**.md'
      - '**.rdoc'
      - '**/.document'
      - '.*.yml'

concurrency:
  group: ${{ github.workflow }} / ${{ startsWith(github.event_name, 'pull') && github.ref_name || github.sha }}
  cancel-in-progress: ${{ startsWith(github.event_name, 'pull') }}

# GitHub actions does not support YAML anchors.  This creative use of
# environment variables (plus the "echo $GITHUB_ENV" hack) is to reroute that
# restriction.
env:
  default_cc: clang-17
  append_cc: ''

  # -O1 is faster than -O3 in our tests... Majority of time are consumed trying
  # to optimize binaries.  Also GitHub Actions run on relatively modern CPUs
  # compared to, say, GCC 4 or Clang 3.  We don't specify `-march=native`
  # because compilers tend not understand what the CPU is.
  optflags: '-O1'

  # -g0 disables backtraces when SEGV.  Do not set that.
  debugflags: '-ggdb3'

  default_configure: >-
    --enable-debug-env
    --disable-install-doc
    --with-ext=-test-/cxxanyargs,+
  append_configure: >-
    --without-valgrind
    --without-jemalloc
    --with-gmp

  CONFIGURE_TTY: never
  GITPULLOPTIONS: --no-tags origin ${{ github.ref }}
  RUBY_DEBUG: ci rgengc
  RUBY_TESTOPTS: >-
    -q
    --color=always
    --tty=no

permissions:
  contents: read

jobs:
  compile:
    strategy:
      fail-fast: false
      matrix:
        env:
          - {}
        entry:
          - { name: gcc-13,    env: { default_cc: gcc-13 } }
          - { name: gcc-12,    env: { default_cc: gcc-12 } }
          - { name: gcc-11,    env: { default_cc: gcc-11 } }
          - { name: gcc-10,    env: { default_cc: gcc-10 } }
          - { name: gcc-9,     env: { default_cc: gcc-9 } }
          - { name: gcc-8,     env: { default_cc: gcc-8 } }
          - { name: gcc-7,     env: { default_cc: gcc-7 } }
          - name: 'gcc-13 LTO'
            container: gcc-13
            env:
              default_cc: 'gcc-13 -flto=auto -ffat-lto-objects -Werror=lto-type-mismatch'
              optflags: '-O2'
            shared: disable
            # check: true
          - { name: clang-18,  env: { default_cc: clang-18 } }
          - { name: clang-17,  env: { default_cc: clang-17 } }
          - { name: clang-16,  env: { default_cc: clang-16 } }
          - { name: clang-15,  env: { default_cc: clang-15 } }
          - { name: clang-14,  env: { default_cc: clang-14 } }
          - { name: clang-13,  env: { default_cc: clang-13 } }
          - { name: clang-12,  env: { default_cc: clang-12 } }
          - { name: clang-11,  env: { default_cc: clang-11 } }
          - { name: clang-10,  env: { default_cc: clang-10 } }
          # llvm-objcopy<=9 doesn't have --wildcard. It compiles, but leaves Rust symbols in libyjit.o.
          - { name: clang-9,   env: { default_cc: clang-9,   append_configure: '--disable-yjit' } }
          - { name: clang-8,   env: { default_cc: clang-8,   append_configure: '--disable-yjit' } }
          - { name: clang-7,   env: { default_cc: clang-7,   append_configure: '--disable-yjit' } }
          - { name: clang-6.0, env: { default_cc: clang-6.0, append_configure: '--disable-yjit' } }
          - name: 'clang-16 LTO'
            container: clang-16
            env:
              default_cc: 'clang-16 -flto=auto'
              optflags: '-O2'
            shared: disable
            # check: true

          - { name: ext/Setup }

    name: ${{ matrix.entry.name }}

    runs-on: ubuntu-latest

    container:
      image: ghcr.io/ruby/ruby-ci-image:${{ matrix.entry.container || matrix.entry.env.default_cc || 'clang-17' }}
      options: --user root

    if: >-
      ${{!(false
      || contains(github.event.head_commit.message, '[DOC]')
      || contains(github.event.pull_request.title, '[DOC]')
      || contains(github.event.pull_request.labels.*.name, 'Documentation')
      || (github.event_name == 'push' && github.actor == 'dependabot[bot]')
      )}}

    env: ${{ matrix.entry.env || matrix.env }}

    steps:
      - run: id
        working-directory:

      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          sparse-checkout-cone-mode: false
          sparse-checkout: /.github

      - uses: ./.github/actions/setup/directories
        with:
          srcdir: src
          builddir: build
          makeup: true

      - name: Run configure
        run: >
          ../src/configure -C ${default_configure} ${append_configure}
          --${{
            matrix.entry.crosshost && 'host' || 'with-gcc'
          }}=${{
            matrix.entry.crosshost || '"${default_cc}${append_cc:+ $append_cc}"'
          }}
          --${{ matrix.entry.shared || 'enable' }}-shared

      - name: Add to ext/Setup # statically link just the etc extension
        run: mkdir ext && echo etc >> ext/Setup
        if: ${{ matrix.entry.name == 'ext/Setup' }}

      - run: make showflags

      - run: make

      - run: make test

      - run: make install

      - run: make test-tool

      - run: make test-all TESTS='-- ruby -ext-'

      - run: make test-spec
        env:
          CHECK_LEAKS: true

defaults:
  run:
    working-directory: build
