name: Prism
on:
  push:
    paths-ignore:
      - 'doc/**'
      - '**.md'
      - '**.rdoc'
      - '**/.document'
      - '**.[1-8]'
      - '**.ronn'
      - '.*.yml'
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '**.md'
      - '**.rdoc'
      - '**/.document'
      - '**.[1-8]'
      - '**.ronn'
      - '.*.yml'
  merge_group:

concurrency:
  group: ${{ github.workflow }} / ${{ startsWith(github.event_name, 'pull') && github.ref_name || github.sha }}
  cancel-in-progress: ${{ startsWith(github.event_name, 'pull') }}

permissions:
  contents: read

jobs:
  make:
    strategy:
      matrix:
        include:
          - test_task: test
            run_opts: '--parser=prism'
            testopts: '-v --tty=no'
            timeout: 30
          - test_task: test-all
            run_opts: '--parser=prism'
            testopts: '-q --tty=no --excludes-dir="../src/test/.excludes-prism" --exclude="error_highlight/test_error_highlight.rb"'
            timeout: 40
          - test_task: test-spec
            run_opts: '--parser=prism'
            specopts: '-T --parser=prism'
            timeout: 10
          - test_task: test-tool
            run_opts: '--parser=prism'
            testopts: '-v --tty=no'
            timeout: 30
          - test_task: test-bundler-parallel
            run_opts: '--parser=prism'
            testopts: '-v --tty=no'
            timeout: 30
          - test_task: test-bundled-gems
            run_opts: '--parser=prism'
            testopts: '-v --tty=no'
            timeout: 30
          - test_task: test-syntax-suggest
            run_opts: '--parser=prism'
            testopts: '-v --tty=no'
            timeout: 30
      fail-fast: false

    env:
      GITPULLOPTIONS: --no-tags origin ${{ github.ref }}
      RUBY_DEBUG: ci
      SETARCH: ${{ matrix.arch && format('setarch {0}', matrix.arch) }}

    runs-on: ubuntu-22.04

    if: >-
      ${{!(false
      || contains(github.event.head_commit.message, '[DOC]')
      || contains(github.event.head_commit.message, 'Document')
      || contains(github.event.pull_request.title, '[DOC]')
      || contains(github.event.pull_request.title, 'Document')
      || contains(github.event.pull_request.labels.*.name, 'Document')
      || (github.event_name == 'push' && github.actor == 'dependabot[bot]')
      )}}

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          sparse-checkout-cone-mode: false
          sparse-checkout: /.github

      - uses: ./.github/actions/setup/ubuntu

      - uses: ./.github/actions/setup/directories
        with:
          srcdir: src
          builddir: build
          makeup: true

      - name: Run configure
        run: ../src/configure -C --disable-install-doc cppflags=-DRUBY_DEBUG

      - run: make

      - name: make ${{ matrix.test_task }}
        run: make -s ${{ matrix.test_task }} RUN_OPTS="$RUN_OPTS" SPECOPTS="$SPECOPTS"
        timeout-minutes: ${{ matrix.timeout }}
        env:
          RUBY_TESTOPTS: ${{ matrix.testopts }}
          RUN_OPTS: ${{ matrix.run_opts }}
          SPECOPTS: ${{ matrix.specopts }}

      - uses: ./.github/actions/slack
        with:
          label: ${{ matrix.run_opts }}
          SLACK_WEBHOOK_URL: ${{ secrets.SIMPLER_ALERTS_URL }} # ruby-lang slack: ruby/simpler-alerts-bot
        if: ${{ failure() }}

defaults:
  run:
    working-directory: build
