name: Ubuntu
on: [push, pull_request]
jobs:
  make:
    strategy:
      matrix:
        test_task: [ "check", "test-bundler-parallel", "test-bundled-gems", "test-all TESTS=--repeat-count=2", "leaked-globals" ]
        os: [ubuntu-20.04, ubuntu-18.04, ubuntu-16.04]
        debug: ["", "-DRUBY_DEBUG"]
        exclude:
          - test_task: test-bundler-parallel
            os: ubuntu-16.04
          - test_task: test-bundled-gems
            os: ubuntu-16.04
          - test_task: "test-all TESTS=--repeat-count=2"
            os: ubuntu-16.04
          - test_task: leaked-globals
            os: ubuntu-16.04
          - os: ubuntu-16.04
            debug: -DRUBY_DEBUG
          - test_task: "test-all TESTS=--repeat-count=2"
            debug: -DRUBY_DEBUG
          - test_task: leaked-globals
            debug: -DRUBY_DEBUG
      fail-fast: false
    env:
      GITPULLOPTIONS: --no-tags origin ${{github.ref}}
    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - name: Install libraries
        run: |
          set -x
          sudo apt-get update -q || :
          sudo apt-get install --no-install-recommends -q -y build-essential libssl-dev libyaml-dev libreadline6-dev zlib1g-dev libncurses5-dev libffi-dev libgdbm-dev bison autoconf ruby
      - name: git config
        run: |
          git config --global advice.detachedHead 0
      - uses: actions/checkout@v2
        with:
          path: src
      - run: ./src/tool/actions-commit-info.sh
        id: commit_info
      - name: Fixed world writable dirs
        run: |
          chmod -v go-w $HOME $HOME/.config
          sudo chmod -R go-w /usr/share
          sudo bash -c 'IFS=:; for d in '"$PATH"'; do chmod -v go-w $d; done' || :
      - name: Set ENV
        run: |
          echo '::set-env name=JOBS::'-j$((1 + $(nproc --all)))
      - run: autoconf
        working-directory: src
      - run: mkdir build
      - name: Run configure
        run: ../src/configure -C --disable-install-doc cppflags=${{ matrix.debug }}
        working-directory: build
      - run: make $JOBS incs
        working-directory: build
      - run: make $JOBS
        working-directory: build
      - run: make prepare-gems
        working-directory: build
        if: matrix.test_task == 'check'
      - name: Create dummy files in build dir
        run: |
          ./miniruby -e '(("a".."z").to_a+("A".."Z").to_a+("0".."9").to_a+%w[foo bar test zzz]).each{|basename|File.write("#{basename}.rb", "raise %(do not load #{basename}.rb)")}'
        working-directory: build
        if: matrix.test_task == 'check'
      - run: make $JOBS -s ${{ matrix.test_task }}
        timeout-minutes: 30
        working-directory: build
        env:
          RUBY_TESTOPTS: "-q --tty=no"
          # Remove minitest from TEST_BUNDLED_GEMS_ALLOW_FAILURES if https://github.com/seattlerb/minitest/pull/798 is resolved
          TEST_BUNDLED_GEMS_ALLOW_FAILURES: "minitest"
      - uses: k0kubun/action-slack@v2.0.0
        with:
          payload: |
            {
              "ci": "GitHub Actions",
              "env": "${{ matrix.os }} / ${{ matrix.test_task }}${{ matrix.debug }}",
              "url": "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}",
              "commit": "${{ github.sha }}",
              "branch": "${{ github.ref }}".split('/').reverse()[0]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SIMPLER_ALERTS_URL }} # ruby-lang slack: ruby/simpler-alerts-bot
        if: failure() && github.event_name == 'push'
