name: Windows
on:
  push:
    paths-ignore:
      - 'doc/**'
      - '**.md'
      - '**.rdoc'
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '**.md'
      - '**.rdoc'

concurrency:
  group: ${{ github.workflow }} / ${{ startsWith(github.event_name, 'pull') && github.ref_name || github.sha }}
  cancel-in-progress: ${{ startsWith(github.event_name, 'pull') }}

jobs:
  make:
    strategy:
      matrix:
        include:
          - vs: 2019
            os: windows-2019
            vcvars: '"C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat"'
          # - vs: 2022
          #   os: windows-2022
          #   vcvars: '"C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"'
      fail-fast: false
    runs-on: ${{ matrix.os }}
    if: ${{ !startsWith(github.event.head_commit.message, '[DOC]') && !contains(github.event.pull_request.labels.*.name, 'Documentation') }}
    name: VisualStudio ${{ matrix.vs }}
    env:
      GITPULLOPTIONS: --no-tags origin ${{github.ref}}
      VCVARS: ${{ matrix.vcvars }}
      PATCH: C:\msys64\usr\bin\patch.exe
      VCPKG_DEFAULT_TRIPLET: ${{ matrix.target || 'x64' }}-windows
    steps:
      - run: md build
        working-directory:
      - uses: msys2/setup-msys2@v2
        id: setup-msys2
        with:
          update: true
          install: bison patch
      - name: patch path
        shell: msys2 {0}
        run: echo PATCH=$(cygpath -wa $(command -v patch)) >> $GITHUB_ENV
        if: ${{ steps.setup-msys2.outcome == 'success' }}
      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v7
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');
      - name: Install libraries with scoop
        run: |
          iex "& {$(irm get.scoop.sh)} -RunAsAdmin"
          Join-Path (Resolve-Path ~).Path "scoop\shims" >> $Env:GITHUB_PATH
          scoop install vcpkg
        shell: pwsh
      - name: git config
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
          git config --global advice.detachedHead 0
          git config --global init.defaultBranch garbage
      - uses: actions/checkout@v3
        with:
          path: src
      - uses: actions/cache@v3
        with:
          path: src/.downloaded-cache
          key: downloaded-cache
      - name: Install libraries with vcpkg
        run: |
          vcpkg install
        working-directory: src
        env:
          VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"
      - name: setup env
        # %TEMP% is inconsistent with %TMP% and test-all expects they are consistent.
        # https://github.com/actions/virtual-environments/issues/712#issuecomment-613004302
        # msys2/setup-msys2 installs MSYS2 to D:/a/_temp/msys64/usr/bin
        run: |
          set Path=D:/a/_temp/msys64/usr/bin;%Path%
          set | C:\msys64\usr\bin\sort > old.env
          call %VCVARS%
          set TMP=%USERPROFILE%\AppData\Local\Temp
          set TEMP=%USERPROFILE%\AppData\Local\Temp
          set /a TEST_JOBS=(15 * %NUMBER_OF_PROCESSORS% / 10) > nul
          set | C:\msys64\usr\bin\sort > new.env
          C:\msys64\usr\bin\comm -13 old.env new.env >> %GITHUB_ENV%
          del *.env
      - name: link libraries
        run: |
          for %%I in (D:\a\ruby\ruby\src\vcpkg_installed\%VCPKG_DEFAULT_TRIPLET%\bin\*.dll) do (
            if not %%~nI == readline mklink %%~nxI %%I
          )
          for %%I in (libcrypto-1_1-x64 libssl-1_1-x64) do (
            ren c:\Windows\System32\%%I.dll %%I.dll_
          )
      - name: Configure
        run: >-
          ../src/win32/configure.bat --disable-install-doc
          --enable-bundled-libffi
          --with-opt-dir=D:/a/ruby/ruby/src/vcpkg_installed/%VCPKG_DEFAULT_TRIPLET%
      - run: nmake incs
      - run: nmake extract-extlibs
      - run: nmake
        env:
          YACC: bison.exe
      - run: nmake test
        timeout-minutes: 5
      - run: nmake test-all
        env:
          RUBY_TESTOPTS: -j${{env.TEST_JOBS}} --job-status=normal
        timeout-minutes: 60
        continue-on-error: ${{ matrix.continue-on-error || false }}
      - run: nmake test-spec
        timeout-minutes: 10
        continue-on-error: ${{ matrix.continue-on-error || false }}
      - uses: k0kubun/action-slack@v2.0.0
        with:
          payload: |
            {
              "ci": "GitHub Actions",
              "env": "VS${{ matrix.vs }} / ${{ matrix.test_task || 'check' }}",
              "url": "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}",
              "commit": "${{ github.sha }}",
              "branch": "${{ github.ref }}".split('/').reverse()[0]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SIMPLER_ALERTS_URL }} # ruby-lang slack: ruby/simpler-alerts-bot
        if: ${{ failure() && github.event_name == 'push' }}

defaults:
  run:
    working-directory: build
    shell: cmd
