name: YJIT macOS Arm64
on:
  push:
    branches:
      - master
    paths-ignore:
      - 'doc/**'
      - '**/man/*'
      - '**.md'
      - '**.rdoc'
      - '**/.document'
      - '.*.yml'
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    # Do not use paths-ignore for required status checks
    # https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/collaborating-on-repositories-with-code-quality-features/troubleshooting-required-status-checks#handling-skipped-but-required-checks
  merge_group:

concurrency:
  group: ${{ github.workflow }} / ${{ startsWith(github.event_name, 'pull') && github.ref_name || github.sha }}
  cancel-in-progress: ${{ startsWith(github.event_name, 'pull') }}

permissions:
  contents: read

jobs:
  cargo:
    name: cargo test

    runs-on: macos-14

    if: >-
      ${{!(false
      || contains(github.event.head_commit.message, '[DOC]')
      || contains(github.event.head_commit.message, 'Document')
      || contains(github.event.pull_request.title, '[DOC]')
      || contains(github.event.pull_request.title, 'Document')
      || contains(github.event.pull_request.labels.*.name, 'Documentation')
      || (github.event_name == 'push' && github.event.pull_request.user.login == 'dependabot[bot]')
      )}}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - run: RUST_BACKTRACE=1 cargo test
        working-directory: yjit

      # Also compile and test with all features enabled
      - run: RUST_BACKTRACE=1 cargo test --all-features
        working-directory: yjit

      # Check that we can build in release mode too
      - run: cargo build --release
        working-directory: yjit

  make:
    strategy:
      matrix:
        include:
          - test_task: 'check'
            configure: '--enable-yjit'
            yjit_opts: '--yjit'
          - test_task: 'check'
            configure: '--enable-yjit=dev'
            yjit_opts: '--yjit-call-threshold=1 --yjit-verify-ctx --yjit-code-gc'
            specopts: '-T --yjit-call-threshold=1 -T --yjit-verify-ctx -T --yjit-code-gc'
      fail-fast: false

    env:
      GITPULLOPTIONS: --no-tags origin ${{ github.ref }}
      RUN_OPTS: ${{ matrix.yjit_opts }}
      SPECOPTS: ${{ matrix.specopts }}

    runs-on: macos-14

    if: >-
      ${{!(false
      || contains(github.event.head_commit.message, '[DOC]')
      || contains(github.event.head_commit.message, 'Document')
      || contains(github.event.pull_request.title, '[DOC]')
      || contains(github.event.pull_request.title, 'Document')
      || contains(github.event.pull_request.labels.*.name, 'Documentation')
      || (github.event_name == 'push' && github.event.pull_request.user.login == 'dependabot[bot]')
      )}}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          sparse-checkout-cone-mode: false
          sparse-checkout: /.github

      - name: Install libraries
        uses: ./.github/actions/setup/macos

      - uses: ./.github/actions/setup/directories
        with:
          srcdir: src
          builddir: build
          makeup: true
          dummy-files: ${{ matrix.test_task == 'check' }}
          # Set fetch-depth: 10 so that Launchable can receive commits information.
          fetch-depth: 10

      - name: Run configure
        run: ../src/configure -C --disable-install-doc ${{ matrix.configure }}

      - run: make prepare-gems
        if: ${{ matrix.test_task == 'test-bundled-gems' }}

      - run: make

      - name: Verify that --yjit-dump-disasm works
        run: |
          ./miniruby --yjit-call-threshold=1 --yjit-dump-disasm -e0 | \
          wc -l | \
          ruby -ne 'raise "Disassembly seems broken in dev build (output has too few lines)" unless $_.to_i > 10'
        if: ${{ contains(matrix.configure, 'jit=dev') }}

      - name: Enable YJIT through ENV
        run: echo "RUBY_YJIT_ENABLE=1" >> $GITHUB_ENV

      - name: Set test options for skipped tests
        run: |
          set -x
          TESTS="$(echo "${{ matrix.skipped_tests }}" | sed 's| |$$/ -n!/|g;s|^|-n!/|;s|$|$$/|')"
          echo "TESTS=${TESTS}" >> $GITHUB_ENV
        if: ${{ matrix.test_task == 'check' && matrix.skipped_tests }}

      - name: Set up Launchable
        id: launchable
        uses: ./.github/actions/launchable/setup
        with:
          os: macos-14
          test-opts: ${{ matrix.configure }}
          launchable-token: ${{ secrets.LAUNCHABLE_TOKEN }}
          builddir: build
          srcdir: src
          is-yjit: true
        continue-on-error: true

      - name: make ${{ matrix.test_task }}
        run: |
          ${LAUNCHABLE_STDOUT:+exec 1> >(tee "${LAUNCHABLE_STDOUT}")}
          ${LAUNCHABLE_STDERR:+exec 2> >(tee "${LAUNCHABLE_STDERR}")}

          make -s ${{ matrix.test_task }} ${TESTS:+TESTS="$TESTS"} \
            RUN_OPTS="$RUN_OPTS" \
            SPECOPTS="$SPECOPTS"
        timeout-minutes: 60
        env:
          RUBY_TESTOPTS: '-q --tty=no'
          TEST_BUNDLED_GEMS_ALLOW_FAILURES: 'typeprof,rbs,repl_type_completor'
          SYNTAX_SUGGEST_TIMEOUT: '5'
          PRECHECK_BUNDLED_GEMS: 'no'
          LAUNCHABLE_STDOUT: ${{ steps.launchable.outputs.stdout_report_path }}
          LAUNCHABLE_STDERR: ${{ steps.launchable.outputs.stderr_report_path }}
        continue-on-error: ${{ matrix.continue-on-test_task || false }}
        timeout-minutes: 3

      - name: make skipped tests
        run: |
          make -s test-all TESTS="${TESTS//-n!\//-n/}"
        env:
          GNUMAKEFLAGS: ''
          RUBY_TESTOPTS: '-v --tty=no'
          PRECHECK_BUNDLED_GEMS: 'no'
        if: ${{ matrix.test_task == 'check' && matrix.skipped_tests }}
        continue-on-error: ${{ matrix.continue-on-skipped_tests || false }}

      - uses: ./.github/actions/slack
        with:
          label: ${{ matrix.test_task }} ${{ matrix.configure }} ${{ matrix.yjit_opts }}
          SLACK_WEBHOOK_URL: ${{ secrets.SIMPLER_ALERTS_URL }} # ruby-lang slack: ruby/simpler-alerts-bot
        if: ${{ failure() }}

  result:
    if: ${{ always() }}
    name: ${{ github.workflow }} result
    runs-on: macos-14
    needs: [make]
    steps:
      - name: ${{ github.workflow }} jobs have failed
        run: exit 1
        working-directory:
        if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}

defaults:
  run:
    working-directory: build
